<!-- <input [(ngModel)]="username">
<p>hello,{{username}}</p>
<button type="button" class="btn btn-success">Success</button>
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let card of cards">
            <div class="card mb-4 h-100 custom-card">
                <img [src]="card.image" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title ">{{card.title}}</h5>
                    <p class="bg-primary">{{card.text}}</p>
                    <a href="">GO TO </a>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary">Primary</button> -->
<!-- <app-product-details></app-product-details> -->

<!-- <app-product-list></app-product-list> -->
<h1 class="text-center my-4">My Store</h1>
<router-outlet></router-outlet>
